*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75));
    background: linear-gradient(45deg,#d2001a,#7462ff,#0d3089,#0987f5);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite ;
    background-position: center;
}



@keyframes color{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}

}
.navbar{
    width: 100%;
    margin: auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0000007b;
   

}
.logo{
    width:120px;
   margin-left: 20px;
    cursor: pointer;
}
.navbar ul{
    background: #adabab28;
    border-radius: 30px;
    border: #83f3e6;
}
.navbar ul li{
    list-style: none;
    display: flex;
    flex-direction:column;
    margin: 20px;
    position: relative;
    align-items: center;
}
.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    font-family:sans-serif;
}
.navbar ul li::after{
    content: '';
    height: 8px;
    border-radius: 80%;
    width: 0px;
    background:#92f9ef;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}
.navbar ul li:hover::after{

width: 100%;
}
.navbar h1{
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size:70px ;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: 800;
    border: 3px solid #83f3e6;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #2749c3;
    height: 100%;
    width: 0%;
    border-radius: 25px ;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width:100%;

}
button:hover{
    border: none;
}

.Emer{
    background: #8c0be2a4;
    width: 100%;
}
.Emer button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 3px solid #efefef;
    background: transparent;
    color: #fefefe;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.Emer button span{
    background: #06eaea;
    
    height: 100%;
    width: 0%;
    border-radius: 25px ;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
.Emer button:hover span{
    width:100%;

}
.Emer button:hover{
    border: none;
}
.map{
    height: 500px;
    width: 100%;
    position:fixed;
  }
  .fotter{
    background-color: #0f1010;
    width: 100%;
    height: 300px;
    position: fixed;
  }
